@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    background-color: #1f1f1f;
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}
@font-face {
  font-family: "Aurebesh";
  src: local("Aurebesh"), url("./fonts/Aurebesh.ttf");
}
.aurebesh {
  font-family: "Aurebesh", sans-serif;
  font-weight: bold;
}
