@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: #1f1f1f;
}
@font-face {
  font-family: "Aurebesh";
  src: local("Aurebesh"), url("./fonts/Aurebesh.ttf");
}
.aurebesh {
  font-family: "Aurebesh", sans-serif;
  font-weight: bold;
}
